body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    color: #323236;
   /* width: 100%; */
}

html {
    width:  100%;
}

/*Font - Général */

h1 {
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 17px;
    font-weight: bold;
}

p {
    font-size: 13px;
    word-spacing: 3px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}



/* Header */

header {
    height: 70px;
    border-bottom: 5px solid #f9f9f9;
    position: fixed;
    width: 100%;
    background-color: white
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.burger-menu {
    width: 40px;
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right: 50px;
}

.nav-list a {
    color: #3f3c3c;
}

.connexion-button {
    background-color: #ffffff;
    border-radius: 28px;
    border: 2px solid #2d97c8;
    color: #2d97c8;
    padding: 7px 15px;
    font-weight: bold;
}

.inscription-button {
    background-color: #2d97c8;
    border-radius: 28px;
    border: 2px solid #2d97c8;
    color: #ffffff;
    padding: 7px 15px;
    font-weight: bold;
}

.logo-deezer-header {
    width: 150px;
    margin-left: 50px;
}


/* Abonnement 3 moi */


.abonnement-3mois {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    background-image: url(img/hero.png);
    background-position: right 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.genre-musique {
    width: 500px;
}

.abonnement-3mois-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    margin-left: 50px;
}

.abonnement-3mois-buttons {
    display: flex;
    margin-top: 30px;
    gap: 13px;
}

.deezer-premium-button {
    background-color: #ef5466;
    border-radius: 28px;
    border: 2px solid #ef5466;
    color: #ffffff;
    padding: 12px 30px;
    font-weight: bold;
}

.deezer-gratuit-button {
    background-color: #ffffff;
    border-radius: 28px;
    border: 2px solid #8e8e94;
    color: #8e8e94;
    padding: 12px 30px;
    font-weight: bold;
}

/* Avantages */

.avantages {
    display: flex;

    justify-content: center;
    height: 500px;
    gap: 50px;
    background-color: #f9f9f9;
    padding: 100px 0px 50px 0px;
}

.telephone-picture {
    margin-left: 10px;
    height: 500px;
}

.avantage-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    gap: 40px;

}

.avantage-text article {
    margin: 10px 40px;
}

.avantage-paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.avantage-paragraph article {
    width: 200px;
    margin: 10px 10px;
}

.abonnement-3mois span {
    color: #ef5466;
}

/* Partie rouge */

.appareils {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #ef5466;
    color: #f9f9f9;
    height: 250px;
    gap: 40px;

}

.appareils img {
    width: 50px;
}

.appareil-pictures {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 2px 2px;
}

.appareil-text {
    width: 300px;
}

/* Offres d'abonnements */

.abonnements-offres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.abonnements-offres h2 {
    margin: 110px 20px 100px 20px;
}

.type-dabonnement {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 450px;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    box-shadow: -2px -1px 18px 2px rgba(128, 125, 125, 0.75);
    -webkit-box-shadow: -2px -1px 18px 2px rgba(128, 125, 125, 0.75);
    -moz-box-shadow: -2px -1px 18px 2px rgba(128, 125, 125, 0.75);
    padding: 30px;

}

.abonnement-text h3 {
    text-align: center;
}

.abonnement-text p {
    text-align: center;
}

.abonnement-regroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

}


.abonnement-premium {
    background-color: #2d96c8;
    color: #ffffff;
}

.type-dabonnement-nom {
    margin: 40px 5px;
}

.prix-abonnement {
    margin: 20px 5px 10px 5px;
    font-size: 30px;
}

.type-dabonnement ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;

}

.type-dabonnement li {
    padding-bottom: 10px;
}

.type-dabonnement li:before {
    content: "✓";
    position: absolute;
    left: 0;
}

.type-dabonnement ul span li:before {
    content: "X";
    position: absolute;
    left: 0;
}

ul span {
    color: #8e8e94;
}

.abonnement-premium ul span {
    color: #b8b8b9;
}

.abonnement-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.inscription-gratuit-button {
    background-color: #8e8e94;
    border-radius: 28px;
    border: 2px solid #8e8e94;
    color: #fcfcfc;
    padding: 12px 30px;
    font-weight: bold;
}

.inscription-payant-button {
    background-color: #ef5466;
    border-radius: 28px;
    border: 2px solid #ef5466;
    color: #fcfcfc;
    padding: 12px 30px;
    font-weight: bold;
}

.abonnement-details {
    margin: 50px 190px;
    color: #8e8e94;
    text-align: center;
}

.type-dabonnement a {
    color: #2d96c8;
}

.abonnement-premium a {
    color: #ffffff;
}

/* Abonnements Spéciaux */

.abonnement-special-regroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.abonnement-special {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #f9f9f9;
    padding: 0px 150px;


}

.abonnement-special-text {
    display: flex;
    flex-direction: column;
    color: #3f3c3c;
    gap: 7px;
}

.abonnement-special-text span {
    color: #ef5466;
}

.abonnement-special-button {
    border-radius: 28px;
    border: 2px solid #3f3c3c;
    color: #3f3c3c;
    padding: 12px 30px;
    font-weight: bold;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 70px 10px;
    width: 100%;
}

.app-download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.download-app {
    width: 100px;
    border: #ffffff 2px solid;
    display: inline;
}

.download-app a {
    color: #ffffff;
}

.app-button {
    width: 120px;
    height: 60px;
}

.nav-footer-regroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 50px 5px;
}

.nav-footer-regroup a {
    color: #c9c5c5;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    font-size: 10px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.socials img {
    width: 15px;

}

.logo-deezer-footer {
    width: 120px;
}

.copyright-language {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#langue {
    font-size: 10px;
    color: #ffffff;
    background-color: black;
}

/* Responsive Mobile */

@media screen and (max-width: 768px) {

    h1 {
        font-size: 45px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    /* Header */
    header {
        width: 100%;
    }

    .nav-header {
        justify-content: flex-end;
        width: 100%;
        margin: 0%;
    }

    .nav-list {
        display: none;
    }

    .logo-deezer-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0%;
    }

    .burger-menu {
        display: inline;
        padding-right: 40px;
        padding-top: 15px;


    }

    /* Abonnement 3 mois */
    .abonnement-3mois {
        padding-bottom: 300px;
        width: 100%;
        background-position: bottom;
        background-size: 350px;
    }

    .abonnement-3mois-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-left: 0%;
        margin-top: 200px;
    }

    .abonnement-3mois-text h2 {
        width: 100%;
        text-align: center;
    }

    .abonnement-3mois-buttons {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .deezer-premium-button {
        width: 90%;
    }

    .deezer-gratuit-button {
        width: 90%;
    }

    /* Avantages */
    .avantages {
        width: 100%;
        padding: 0px 5px 10px 5px;
        height: 700px;

    }

    .avantages h2 {
        margin-top: 40px;
    }

    .telephone-picture {
        display: none;
    }

    .avantage-text {
        justify-content: center;
        align-items: center;
        padding: 0%;
    
    }

    .avantage-paragraph {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 0px;
    }

    .avantage-paragraph article {
        width: 100%;
    }

    /* Partie rouge */

    .appareils {
        flex-direction: column;
        height: 500px;
        margin-top: 0%;
        text-align: center;
        width: 100%;
    }

    .appareil-text {
        width: 100%;
    }

    /*Abonnements Offres*/
    
    .abonnement-offres {
        width: 100%;
        align-items: center;
    }

    .abonnement-regroup {
        flex-direction: column;
    }

    .type-dabonnement {
        height: fit-content;
        width: 100%;

    }

    .abonnement-details {
        margin: 0px 10px 30px 10px;
    }
    .abonnement-special {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    .abonnement-special p {
        display: none;
    }

    /*Footer*/
    footer {
        width: 100%;
    }
    .nav-footer-regroup {
        flex-direction: column;
        align-items: flex-start;
        gap: 45px
    }
    .footer-bottom {
        flex-direction: column;
        gap: 70px;
    }

}